<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Bom Prato</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
  </head>
 
  
  <body>
      
    

    <section id="main">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
	
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="/inicio">Pagina Inicial
						<span class="sr-only">(Página atual)</span>
				</a></li>
				
				<li class="nav-item"><a class="nav-link" href="/prato/vizualizar">Pratos	</a></li>
					
				<li class="nav-item"><a class="nav-link disabled" href="/usuario/formulario">Formulario Usuario</a>
				</li>
				
			
				<td ><li class="nav-item">
				<a class="nav-link disabled" href="/usuario/logar">Fazer Login</a></li></td>
				</li>
				</li>
				
				</li>
				<td sec:authorize = "hasRole('ROLE_ADMIN')"><li class="nav-item">
				<a class="nav-link disabled" href="/prato/formulario">Adicionar Pratos</a></li></td>
				
		
				
				<td sec:authorize = "hasRole('ROLE_CLIENTE')"><li class="nav-item">
				<a class="nav-link disabled" href="/pedido/formulario">Adicionar Pedido</a></li></td>
				
				<td sec:authorize = "hasRole('ROLE_CLIENTE')"><li class="nav-item">
				<a class="nav-link disabled" href="/pedido/listar">Listar Pedidos</a></li></td>
						<td sec:authorize = "hasAnyRole('ROLE_ADMIN','ROLE_CLIENTE')"><li class="nav-item">
				<a class="nav-link disabled" href="/usuario/logout">Logout</a></li></td>
				
				
			</ul>
		</div>
	</nav>

        <div class="titulo1"><h1>Pratos</h1> <h2>do Dia</h2> </div>
        <div id="bloco">
                <IMG class="displayed" src="img\18723917-8714-4e79-88a5-7a1dc15eced8.jpg" >
        
       
       <h3> Polvo Grelhado com Risoto de Açafrão. </h3>
       <h4> Sobram elogios na boca de quem ama essa iguaria</h4> 
       <h5> Valor: 59,90 R$</h5> 
    </div>
        <div id="bloco">
                <img class="displayedtwo" src="img\524c316a-beac-4016-83ea-2e49daade652.jpg" >
                <h3> Tornedor à Sauce Bernaise.</h3>
                <h4>Quem prova, ama. Quem não provou ainda precisa provar</h4> 
                <h5> Valor: 89,90 R$</h5>

            
        </div>
        <div id="bloco">
    
                <img class="displayedthree" src="img\8097fe2f-9f33-4df8-8b02-c9cc5d0afb58.jpg" >
                <h3> Magret di Canard.</h3>
                <h4>peito de pato grelhado ao molho de vinho tinto com risoto de camarão
                <h5> Valor: 79,90 R$</h5>
            </div><div id="bloco">
                    <img class="displayedfour" src="img\635d0d6e-2685-4f9f-85e5-4800373536ff.jpg" >
                    <h3> Torre de camarão</h3>
                    <h4>Quem já experimentou sabe que ela é amor em forma de comida.</h4>
                    <h5> Valor: 39,99 R$</h5>

            
                </div>
        <div id="bloco">
                <img class="displayedfive" src="img\06c3993b-a26f-42a3-b0d8-c42b54e6cd5e.jpg" >
                <h3> Romeu e Julieta</h3>
                <h4>Essa sobremesa mal chegou e já uma das queridinhas.</h4>
                <h5> Valor: 19,99 R$</h5>

        
               
        </div>

       

        <div id="blocotwo">
                <h6>Telefone(85) 3122.0039 - 98894.8647</h6>
                <h7>Ano de fundação:1997</h7>
                <h8> Carlos Ranan Araujo Lima</h8>


        </div>
     
  </body>
</html>