<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />


</head>
<body>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="/inicio">Pagina Inicial
						<span class="sr-only">(Página atual)</span>
				</a></li>
				
				<li class="nav-item"><a class="nav-link" href="/prato/vizualizar">Pratos	</a></li>
					
				<li class="nav-item"><a class="nav-link disabled" href="/usuario/formulario">Formulario Usuario</a>
				</li>
				
			
				<td ><li class="nav-item">
				<a class="nav-link disabled" href="/usuario/logar">Fazer Login</a></li></td>
				</li>
				</li>
				
				</li>
				<td sec:authorize = "hasRole('ROLE_ADMIN')"><li class="nav-item">
				<a class="nav-link disabled" href="/prato/formulario">Adicionar Pratos</a></li></td>
				
		
				
				<td sec:authorize = "hasRole('ROLE_CLIENTE')"><li class="nav-item">
				<a class="nav-link disabled" href="/pedido/formulario">Adicionar Pedido</a></li></td>
				
				<td sec:authorize = "hasRole('ROLE_CLIENTE')"><li class="nav-item">
				<a class="nav-link disabled" href="/pedido/listar">Listar Pedidos</a></li></td>
						<td sec:authorize = "hasAnyRole('ROLE_ADMIN','ROLE_CLIENTE')"><li class="nav-item">
				<a class="nav-link disabled" href="/usuario/logout">Logout</a></li></td>
				
				
			</ul>
		</div>
	</nav>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">ID Pedido</th>
				<th scope="col">Valor</th>
				<th scope="col">ID Cliente</th>
				<th scope="col">ID Prato</th>
			
			</tr>
		</thead>
		<tbody>
			<tr th:each="pedido: ${todosOsPedidos}">
				<td th:text="${pedido.id_pedido}"></td>
				<td th:text="${pedido.prato.valor}"></td>
				<td th:text="${pedido.usuario.id}"></td>
				<td th:text="${pedido.prato.id_prato}"></td>
				

				<td sec:authorize = "hasRole('ROLE_CLIENTE')" ><a th:href="@{/pedido/excluir/{id_pedido}(id_pedido = ${pedido.id_pedido})}">
						<button type="button" class="btn btn-danger">Excluir</button>
				</a></td>
				<td sec:authorize = "hasRole('ROLE_CLIENTE')"><a th:href="@{/pedido/atualizar/{id_pedido}(id_pedido = ${pedido.id_pedido})}">
						<button type="button" class="btn btn-primary">Atualizar</button>
				
			</tr>

		</tbody>

	</table>
<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>

	<script src="/js/bootstrap.min.js">
		
	</script>



</body>
</html>